@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('localization.css');
$text-color: rgb(27, 27, 27);
$blue: rgb(190, 225, 255);
$lighter-blue: rgb(217, 236, 252);
$gray: rgb(230, 230, 230);
@mixin flex(){//gloabal
    display: flex;
    flex-direction: column;
    //justify-content: center;
}
@mixin flex-row(){//gloabal
    display: flex;
    flex-direction: row;
}
*{
    overflow-x: hidden;
}
h2, h1{
    overflow: hidden !important;
    height:auto;
    min-height:1.5em !important;
    padding: 5px 0;
}
body, html{//gloabal
    width:100%;/*naprawia dziwny błąd ze scrollbarem*/
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
#przepis{//none
    display: flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    left: 25%;
    width:50vw;
    height: 10vh;
    background:rgba(27, 27, 27, 0.95);
    color: white;
    border-radius: 1em;
    button{
        padding:5px 10px;
        width:6em;
        border:1px solid white;
        border-radius: 1em;
    }
}
#nav-bar{//gloabal
    /*flex-box:*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    /*żeby przylegał do krawędzi:*/
    position: fixed; /* z relative nie działa :( */
    top:0;
    z-index:100;
    left:0;
    width: 100%;
    height: 10vh;
    /*visual*/
    background-color: $blue;
    border-bottom: solid 2px $text-color;
    color: $text-color;
}
#logo{//gloabal
    width: 40%;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    align-self: center;
}
#links{//gloabal
    display:flex;
    justify-content: end;
    padding-right: 3vw;
    width:60%;
}
.nav-button{//gloabal
    /*dot. znacznika <a>*/
    display: block;
    /*visual*/
    margin: 0 10px 0 10px;
    text-align: center;
    text-decoration: none;
    color: $text-color;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
#topper{//gloabal
    position:fixed;
    bottom:1vh;
    right:1vh;
    width: 2vw;
    height:2vw;
    background:rgb(143, 41, 41);
    border-radius: 50%;
}
main{//global
    font-family: 'Lato', sans-serif;
    width: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}
section{//global
    height:auto;
    h2{
        font-size: 2rem;
        color: $text-color;
    }
}
@mixin cont{//potrawy.html
    @include flex;
    margin-top:1vh;
    width:100%;
    border-radius: 2em;
    align-items:center;
    justify-content: space-between;
    min-height:40vh;
    
    .cont-rest{
        @include flex-row;
        width:100%;
        justify-content: space-evenly;
        article{
            align-self: center;
        }
    }
    
    article{
        @include flex;//flex-column
        padding:0 2vh 0 10%;
        align-self: baseline;
        justify-content: center;
        align-items: flex-start;
        min-height:inherit !important;
        width:40%;
        font-size: 1.2em;
        line-height: 1.5em;
    }
    picture{
        display: block;
        padding:2vh 10% 2vh 2vh;
        width:auto;
        max-height: 100%;
        img{
            border: 5px solid #7a7a7a;
            border-radius: 1em;
            max-height: 37vh;
            max-width:100%;
        }
    }
}
.cont-header{
    @include flex-row;
    align-self: flex-start;
    justify-content: space-between;
    width:80%;
    padding: 0 10%;
    background: $text-color;
    h2{
        display: flex;
        align-items: center;
        color: white !important;
        height: 100%;
    }
    button{
        width: 20%;
        //display: block;
        background: $text-color;
        border: none;
        color: white;
        img{
            height: 10%;
            filter: invert(1);
        }
        &:hover{
            background:rgb(75, 75, 75);
        }
    }
}
.cont-rest-zabytek{
    padding-top: 1em;
    border-radius:0 0 2em 2em;
    @include flex;
    width:100%;
    justify-content: space-evenly;
    background: $gray;
}
.content-zwiniety{
    display: none !important;
}
.zwiniety{
    min-height: 5vh !important;
}
.country-content{//potrawy.html
    @include flex;//flex-column
    justify-content: space-evenly;
    width:100%;
    h1{
        font-size:2.5em;
        color:$text-color;
    }
    .container1{
        background: $lighter-blue;
        @include cont;
    }
    
    .container2{
        background: rgb(230, 230, 230);
        @include cont;
    }
}
#o_stronie, #WB{//index.html
    /*o stronie w index.html i wielka brytania index.html*/
    @include flex;
    width:100%;
    padding: 0 2.5vw 0 2.5vw;
    align-items: center;
    height:fit-content;
    overflow: hidden;
}
.countries_after{//gloabal
    //po wybraniu jednego z krajów
    display:flex;
    width: 100%;
    height: auto;
    justify-content: end;
}
.countries_before{//gloabal
    //pierwsze załadowanie countries
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}
#countries{//gloabal
    //ogólne właściwości diva countries
    display:flex;
    margin-top: 11vh;
    align-items: center;
    button{
        display:block;
        background: white;
        width: 100%;
        height: 10%;
        padding: 10px 30px;
        border: 1px solid $text-color;
        border-radius: 20px;
    }
    button:hover{
        transition: all 0.2s;
        background:$lighter-blue;
    }
}
.country_holder{//gloabal
    //to co jest przed wyborek kraju
    width: auto;
    background: #dfdfdf;
    padding: 1vh;
    border-radius: 1em;
}
.country_holder_main{//gloabal
    //nie zmieniać!
    margin:0 0.5vw 0 0.5vw;
    width:auto;
    height:auto;
}
.country_img{//gloabal
    max-width:20vw;
    img{
        display:block;
        //max-width:20vw;
        max-height: 30vh;
        border-radius:1em;
    }
}
footer{//gloabal
    text-align: center;
    background: $text-color;
    color: white;
    padding:1vh 0;
    margin-top:1vh;
}
article.atraction{ //zabytki.html
    @include flex;//flex-column
    padding:2vh 10%;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
    min-height:inherit !important;
    width:80%;
    border-radius: 2em;
    font-size: 1.2em;
    line-height: 1.5em;
    picture{
        img{
            max-width:80%;
            max-height: 40%;
            height:auto;
            padding:0 10%;
        }
    }
    iframe{
        display: block;
        align-self: center;
    }
    p{
        padding:0 5%;
    }
}
section#tradycje-wstep{
    width: 80%;
    padding: 0 10%;
    font-size: 1.2em;
}
section#tradycje{
    width: 80%;
    padding: 0 10%;
    p.info, p.promo{
        padding: 0 2em;
        font-size: 1.2em;
    }
    p.pochodzenie{
        font-weight: bold;
    }
    article{
        margin-top: 1em;
        border-radius: 2em;
        background:$gray;
        div.cont-rest{
            display:block;
            padding: 2em 0;
        }
        div.content-zwiniety{
            display:none;
        }
    }
    picture{
        padding-top: 2em;
        max-width:95%;
        max-height: 70vh;
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            max-width:95%;
            max-height: 60vh;
            border-radius: 2em;
        }
    }
    
}
a.promo{
    color: rgb(129, 129, 129);
    font-size: small;
    text-decoration: none;
}
//responsywność:
@media(max-width:768px){
    #logo{
        display:none;
    }
    #links{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #nav-bar{
        justify-content: center;
        width: 100%;
    }
}
@media(max-width:320px){
    .nav-button{
        font-size: 0.99rem;
    }
    .cont-header{
        h2{
            font-size: 1rem !important;
        }
    }
    article{
        font-size:0.8em;
    }
    .cont-rest{
        picture, img{
            display: none;
        }
    }
}
@media(min-width:1440px){
    .nav-button{
        font-size: 1.25rem;
    }
}