@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
$text-color: rgb(27, 27, 27);
$blue: rgb(190, 225, 255);
$lighter-blue: rgb(217, 236, 252);
@mixin flex(){
    display: flex;
    flex-direction: column;
    //justify-content: center;
}
@mixin flex-row(){
    display: flex;
    flex-direction: row;
}
body, html{
    width:100%;/*naprawia dziwny błąd ze scrollbarem*/
    height:fit-content;
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}
#nav-bar{
    /*flex-box:*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    /*żeby przylegał do krawędzi:*/
    position: fixed; /* z relative nie działa :( */
    top:0;
    left:0;
    width: 100%;
    height: 10vh;
    /*visual*/
    background-color: $blue;
    border-bottom: solid 2px $text-color;
    color: $text-color;
}
#logo{
    width: 40%;
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    align-self: center;
}
#links{
    display:flex;
    justify-content: end;
    padding-right: 3vw;
    width:60%;
}
.nav-button{
    /*dot. znacznika <a>*/
    display: block;
    /*visual*/
    margin: 0 10px 0 10px;
    text-align: center;
    text-decoration: none;
    color: $text-color;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}
#topper{
    position:fixed;
    bottom:1vh;
    right:1vh;
    width: 2vw;
    height:2vw;
    background:rgb(143, 41, 41);
    border-radius: 50%;
}
main{
    font-family: 'Lato', sans-serif;
    width: auto;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
section{
    height:auto;
    h2{
        font-size: 2rem;
        color: $text-color;
    }
}
@mixin cont{
    @include flex-row;
    margin-top:1vh;
    width:100%;
    border-radius: 2em;
    align-items:center;
    justify-content: space-evenly;
    min-height:40vh;
    article{
        @include flex;//flex-column
        padding:0 2vh 0 2vh;
        align-self: baseline;
        justify-content: start;
        align-items: flex-start;
        min-height:inherit !important;
        width:40%;
    }
    picture{
        display: block;
        padding:2vh 2vh 2vh 2vh;
        width:auto;
        max-height: 100%;
        img{
            border: 5px solid #7a7a7a;
            border-radius: 1em;
            max-height: 37vh;
            max-width:100%;
        }
    }
}
.country-content{//
    @include flex;//flex-column
    justify-content: space-evenly;
    width:100%;
    .container1{
        background: $lighter-blue;
        @include cont;
    }
    .container2{
        background: rgb(230, 230, 230);
        @include cont;
    }
}
#o_stronie, #WB{
    /*o stronie w index.html i wielka brytania index.html*/
    @include flex;
    width:95vw;
    padding: 0 2.5vw 0 2.5vw;
}
.countries_after{
    //po wybraniu jednego z krajów
    display:flex;
    width: 100%;
    height: auto;
    justify-content: end;
}
.countries_before{
    //pierwsze załadowanie countries
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}
#countries{
    //ogólne właściwości diva countries
    display:flex;
    margin-top: 11vh;
    align-items: center;
    button{
        display:block;
        background: white;
        width: 100%;
        height: 5vh;
        padding: 10px 30px 10px 30px;
        border: 1px solid $text-color;
        border-radius: 20px;
    }
    button:hover{
        transition: all 0.2s;
        background:$lighter-blue;
    }
}
.country_holder{
    //to co jest przed wyborek kraju
    width: auto;
    background: #dfdfdf;
    padding: 1vh;
    border-radius: 1em;
}
.country_holder_main{
    //nie zmieniać!
    margin:0 0.5vw 0 0.5vw;
    width:auto;
    height:auto;
}
.country_img{
    max-width:20vw;
    img{
        display:block;
        //max-width:20vw;
        max-height: 30vh;
        border-radius:1em;
    }
}
footer{
    text-align: center;
}
@media(max-width:768px){
    #logo{
        display:none;
    }
    #links{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #nav-bar{
        justify-content: center;
        width: 100%;
    }
}
@media(max-width:320px){
    .nav-button{
        font-size: 0.99rem;
    }
}
@media(min-width:1440px){
    .nav-button{
        font-size: 1.25rem;
    }
}